/* Header */

header{
    display: flex;
    justify-content: start;
    height: 10vh;
    width: 100%;
    margin-bottom: 5%;
}

header nav{
    width: 100%;
}

header table{
    width: 100%;
    margin-top: 2vh;
}

header td {
    padding: 10px;
    width: 20%;
    text-align: center;
}

/* ------------- */



/* Main */

main > h1{
    text-align: center;
}

.intro{
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    text-align: center;
}


.domaines{
    display: flex;
    flex-wrap: wrap;
    margin: 5% 0%;
    align-items: center;
    justify-content: center;
}

.domaines article{
    width: 30%;
    margin: 5%;
    padding: 20px;
    text-align: center;
}

article img{
    width: 80%;
    height: 80%;
}

article input{
    width: 50%;
    height: 4vh;
}

/* Main > Pages secondaires */
#reseaux article{
    margin-bottom: 2%;
    padding: 1%;
}

#reseaux .metiers article:nth-child(odd){
    margin-right: 10%;
    margin-left: 2%;
}

#reseaux .metiers article:nth-child(even){
    margin-right: 2%;
    margin-left: 10%;
}

#reseaux article img{
    width: 300px;
    margin: 1%;
}

#reseaux .metiers article:nth-child(even) img{
    float: right;
}

#reseaux .metiers article:nth-child(odd) img{
    float: left;
}

#reseaux .articleFooter{
    text-align: center;
}

#reseaux .metiers article > h2{
    text-align: center;
}

#reseaux .metiers article:nth-child(odd) ul{
    padding-left: 30%;
}

#reseaux .metiers article:nth-child(even) ul {
    padding-left: 10%;
}

li{
    margin: 10px;
}

/* ------------- */



/* Footer */
footer{
    height: 10vh;
    width: 100%;
}

footer div{
    display: flex;
    justify-content: space-around;
}

footer > p{
    text-align: center;
}