table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    width: 20%;
    border: 2px solid #f0f0f0;
    text-align: center;
    font-size: large;
}

.intro{
    background-color: aqua;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size:15px;
    border: solid;
    border-radius: 20px;
    text-align: center;
}

.paire{
    background-color: coral;
    margin-right: 200px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size:15px;
    border: solid;
    border-radius: 20px;
}
.articleFooter{
    width: 100%;
    text-align: center;
}

.texte{
    padding-left: 15px;
    padding-right: 15px;
}

.paire .texte>img{
    width: 300px;
    border-radius: 20px;
    float:right;
}

h2{
    text-align: center;
}

.impaire{
    background-color: fuchsia;
    margin-right: 30px;
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size:15px;
    border: solid;
    border-radius: 20px;
}

.impaire .texte>img{
    width: 300px;
    border-radius: 20px;
    float:left;
}

footer{
    text-align: center;
    border:solid;
    border-radius: 20px;
}